 #btn1{
    line-height: normal;
	text-decoration: none;
	text-align: center;
	padding: 14px 15px 14px 15px;
	margin: 0px 0px 0px 0px;
 }
 #btn2{
    line-height: normal;
	text-decoration: none;
	text-align: center;
	padding: 14px 15px 14px 15px;
	margin: 0px 0px 0px 0px;
 }